:host-context(.platform-mac) .monospace,
:host-context(.platform-mac) .source-code,
.platform-mac .monospace,
.platform-mac .source-code {
  font-size: 11px !important;
  font-family: JetBrains Mono, monospace !important;
}

.platform-mac,
:host-context(.platform-mac) {
  --monospace-font-size: 11px !important;
  --monospace-font-family: JetBrains Mono, monospace !important;
  --source-code-font-size: 11px !important;
  --source-code-font-family: JetBrains Mono, monospace !important;
}

.platform-mac {
  font-family: SF Pro, sans-serif !important;
  font-size: 11px !important;
}

.monospace,
.source-code {
  font-size: 11px !important;
  font-family: JetBrains Mono, monospace !important;
}

::shadow .monospace,
::shadow .source-code {
  font-size: 11px !important;
  font-family: JetBrains Mono, monospace !important;
}
